<h4>Formularios <small>reactive</small></h4>
<hr>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="name"
               [class.is-invalid]="invalidName">
               <small *ngIf="invalidName" class="text-danger">5 chars</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="surname"
               [class.is-invalid]="invalidSurname">
               <small *ngIf="invalidName" class="text-danger">5 chars</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [class.is-invalid]="invalidName">
             <small *ngIf="invalidEmail" class="text-danger">Invalid email</small>
    </div>
  </div>

  
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [class.is-invalid]="invalidName">
             <small *ngIf="invalidEmail" class="text-danger">Invalid email</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">User</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Correo electrónico"
             formControlName="user"
             [class.is-invalid]="invalidUser">
            
    </div>
  </div>

  
  <div class="form-group row">
    <label class="col-2 col-form-label">Password1</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="password"
             formControlName="password1"
             [class.is-invalid]="pass1NoValid">
             
    </div>
  </div>

  
  <div class="form-group row">
    <label class="col-2 col-form-label">Password2</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="password"
             formControlName="password2"
             [class.is-invalid]="pass2NoValid"
             >
    </div>
  </div>

  <div class="row" >
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Hobbie</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody formArrayName="hoobies">
          <tr *ngFor="let h of hobbiesArray.controls; let i=index">
            <td>{{ i + 1}}</td>
            <td>
              <input class="form-control" type="text" [formControlName]="i">

            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteHoobie(i - 1)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-block" (click)="addHoobie()">Add</button>
    </div>
       
</div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>

<pre>
   State : {{form.valid}}
   <br>
   Status: {{form.status}}

  <br>
  Value : {{form.value | json}}
</pre>
